@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #7d58fc;
    --primary__li: rgba(128, 90, 252, 0.7);
    --primary__li-2: rgba(128, 90, 252, 0.15);
    --primary__black: #222831;
    --primary__black-2: #393e46;
    --primary__black-li: #22283180;
    --primary__gray: #b3b3b3;
    --primary__white: #EEEEEE;

    --primary__font: 'Source Code Pro', monospace;
}

/* 
 *  GLOBAL VARIABLES 
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--primary__font);
}

html {
    scroll-behavior: smooth;
}


html,
body {
    min-width: 290px;
    color: var(--primary__white);
    background-color: var(--primary__black);
    line-height: 1.5;
}

.content {
    position: relative;
    margin: 0 auto;
}

li {
    list-style: none;
    ;
}

a {
    color: var(--primary__white);
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 10px 15px;
    margin: 25px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    background-color: var(--primary__li-2);
    border: 2px solid var(--primary);
    border-radius: 10px;

    color: #EEEEEE;

    cursor: pointer;

    transition: background-color 0.3s ease-out;
}

.btn:hover {
    background-color: var(--primary);
}

.grid {
    display: flex;
}

/* global classes styling */

header {
    height: 72px;
    padding: 0 38px;
    background-color: rgba(34, 40, 49, 0.7);

    position: sticky;
    top: 0;

    z-index: 10;
    
}

.header-inner {
    padding: 0 110px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

/* HEADER LOGO */

.header__logo {
    font-style: normal;
    font-weight: 500;

    color: var(--primary__white);
    cursor: pointer;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }

    .logo>#header-img {
        margin: 0 auto;
    }
}

/* Nav Bar */

#nav-bar {
    font-weight: 400;
}

#nav-bar>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: var(--primary__white);
    transition: color 0.3s ease-out;
}

.nav-link:hover {
    color: var(--primary);
}

@media (max-width: 650px) {
    #nav-bar {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    #nav-bar>ul {
        flex-direction: column;
    }

    #nav-bar li {
        padding-bottom: 5px;
    }
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero #email {
    max-width: 275px;
    width: 100%;

    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--primary);

    background-color: var(--primary__black-li);

    color: var(--primary__white);
}


@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }
}

/* Features */

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: var(--primary);
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }

    #features .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px) {
    #features {
        margin-top: 0;
    }
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    width: 100%;
    max-width: 560px;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product>.level {
    padding: 15px 0;
    width: 100%;

    background-color: var(--primary);
    color: var(--primary__white);

    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    margin: 15px 0;
    font-weight: 400;
}

.product>button:hover {
    background-color: var(--primary__li-2);
    transition: backround-color 1s;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    padding: 20px;
    border-top: 2px solid var(--primary);
    background-color: var(--primary__black-li);
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    color: var(--primary__gray);
}